/* Login.css */

/* General Styling */
.login-page {
    padding: 80px 20px; /* Space for fixed navbar */
    text-align: center;
  }

  .login-button {
    background-color: #6c63ff; /* Matches buttons in App.css */
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-button:hover {
    background-color: #574dcc;
  }

  a{
    text-decoration: none;
  }

  .new-user{
    color:#6c63ff;
  }
